@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

@supports (scrollbar-gutter: stable) {
  html,
  body {
    scrollbar-gutter: stable;
  }
}
/* For safari, which does support "@supports" */
@supports not (scrollbar-gutter: stable) {
  html,
  body {
    overflow-y: scroll;
  }
}